:root {
  --color-primary: ;
  --color-primary-light: ;
  --color-secondary: ;
  --color-accent: ;
  --color-neutral-beige: ;
  --color-whatever: ;

  --font-primary: "Lato", Arial, sans-serif;
  --font-secondary: "Source Code Pro", Menlo, Consolas, momospace;
}
